---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Entertainment web app">
  <main>
    <!-- Search for bookmarked shows -->

    <!-- Bookmarked Movies -->

    <!-- Display bookmarked movies -->

    <!-- Bookmarked TV Series -->

    <!-- Display bookmarked TV series -->
  </main>
</Layout>
